body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.postsList {
    background: #fefefe;
}
.postItem {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}